header .brand{
	background-image: url('../images/Clay-logo-black.png');
	width: 151px;
	height: 77px;
}
header .brand p,
header .brand h1{
	display:none;
}
body,.typography h1,.typography h2,.typography h3{
	font-family: "AvantGardeGothicITCW01B 731069",Helvetica,Arial,sans-serif;
}
.typography a{
	color:#006838;
}
.typography a:hover{
	color:#39B54A;
}
.header .primary li a {
	font-weight:100;
}

ul li.door{
	list-style-type: none;
	margin: 0 0 7px 0px;
	text-indent: 21px;
}

li.door.closed{
	background: url('../images/door-closed.png') no-repeat left;
	background-size: 17px;
}

li.door.opened{
	background: url('../images/door-open.png') no-repeat left;
	background-size: 17px;
}

li.door.denied{
	background: url('../images/door-denied.png') no-repeat left;
	background-size: 17px;
}

.denied .response{
	color:red;
}

.opened .response{
	color:green;
}

.response{
	font-weight: bold;
}

article {
	width:60%;
	margin-right: 10px;
}

aside {
	width:30%;
}

article,aside{
	float:left;
}

.typography h1 {
	border-bottom:0px;
}